@model APBrandv2._0.Models.Variant

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Variant</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Model.ModelName)
            <hr />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VariantName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VariantName)
            <hr />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MainCamera)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MainCamera)
            <hr />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SelfieCamera)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SelfieCamera)
            <hr />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BodyRatio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BodyRatio)
            <hr />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Network)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Network)
            <hr />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Display)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Display)
            <hr />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Platform)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Platform)
            <hr />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.COMMS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.COMMS)
            <hr />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Memory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Memory)
            <hr />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Features)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Features)
            <hr />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Battery)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Battery)
            <hr />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MISC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MISC)
            <hr />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tests)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tests)
            <hr />
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.VariantId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
